@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@300&display=swap');

$font-body: 'Amatic SC', cursive;

* {
  margin: auto;
  box-sizing: border-box;
  font-family: $font-body;
  text-align: center;
}