.homepage {
  &__heading {
    font-size: 70px;
  }
  &__image {
    height: auto;
    width: auto;
  }
}

.selectionpage {
  &__heading {
    font-size: 70px;
  }
}

.gamepage {
  &__category-sentence {
    font-size: 70px;
  }
  &__currentAnswerState {
    font-size: 60px;
  } 
}

.user__status-update {
  font-size: 70px;
}