.homepage {
  &__heading {
    padding: 50px 0px 50px 0px;
  }
  &__image {
    padding: 50px 0px 50px 0px;
  }
}

.selectionpage {
  &__heading {
    padding: 200px 0px 100px 0;
  }
}

.gamepage {
  &__heading {
  padding: 300px 0 0 0;
  }
  &__category-sentence {
  padding: 50px 0 0 0;
  }  
  &__currentAnswerState {
    padding: 50px 0 100px 0;
  }
  &__image {
    max-height: 250px;
    max-width: 250px;
  }
  &__keyboard__buttons {
    max-height: 250px;
    max-width: 250px;
  }
  &__components {
    display: flex;
    margin-bottom: 100px;
  }
}