.homepage {
  &__heading {
    padding: 50px 0px 50px 0px;
  }
  &__image {
    padding: 50px 0px 50px 0px;
  }
}

.gamepage {
  &__heading {
    padding: 200px 0px 100px 0;
  }
  &__hiddenWord {
    padding: 300px 0px 50px 0px;
  }
  &__keyboard__buttons {
    padding: 0px 0px 200px 0px;
  }
}