@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@300&display=swap");
* {
  margin: auto;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

button {
  margin: 5px 5px;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 30px;
}

h1 {
  font-size: 70px;
}

.word {
  font-size: 60px;
  padding: 30px;
}